.container__small-card {
  width: 600px;

}

.container__small-card__content {
  display: flex;
  flex-direction: row;
}

.small-card__image > img {
  width: 200px;
  min-width: 200px;
  margin-right: 1.25rem;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > h1 {
  font-size: 1.5rem;
}

.container__small-card__separator {
  margin: 0.825rem 0 0.825rem 0;
}

.container__small-card__separator > hr {
  border: 0;
  border-top: 2px solid #404040;
}
