header {
  margin: 0.625rem 0 0.625rem 0;
}

app-menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2rem 0 2rem;
}

.container__articles {
  margin: 2rem 1rem 0 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
