  <div class="menu-bar__icon">
    <a href="src\app\pages\home\home.component.html"><img src=".\assets\icons\league-icon.png" alt=""></a>
  </div>

<div class="container__menu-bar">
  <div class="menu-bar__links">
    <ul>
      <li><a href="https://www.linkedin.com/in/rafael-viana-970080278/" target="_blank"><img src=".\assets\icons\logo-linkedin.png" alt="LinkedIn"></a></li>
      <li class="linha-vertical"></li>
      <li><a href="https://github.com/vianarafaa" target="_blank"><img src=".\assets\icons\logo-github.png" alt="GitHub"></a></li>
      <li class="linha-vertical"></li>
      <li><a href="https://www.instagram.com/orafahv" target="_blank"><img src=".\assets\icons\logo-instagram.png" alt="Instagram"></a></li>
    </ul>
  </div>

</div>
